@inherits LayoutComponentBase
@layout BlazorEcommerce.Components.Layout.MainLayout

<h1>Manage your account</h1>

<div class="bg-[#F7F7F7]">
    <h2>Change your account settings</h2>
    <hr />
    <div class="grid grid-cols-7 gap-5">
        <div class="col-span-1 h-screen bg-white p-4">
            <ManageNavMenu />
        </div>
        <div class="col-span-5">
            @Body
        </div>
    </div>
</div>
